<div class="container">
  <% if @post.is_active == true %>
  <h3><strong><%= @post.title %></strong></h3>
  <div id='alert'><%= flash[:alert] %></div>
  <div class="row">
    <div class="col">
      <p><%= @post.explanation %></p>
      <!--いいね-->
      <% if user_signed_in? %>
        <% if @post.favorited?(current_user) %>
          <p><%= @post.favorites.count %>いいね！されている投稿です
          <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
          <%= link_to public_post_favorites_path(@post.id), method: :delete do %>
            <span id="heart">❤︎</span>
          <% end %></p>
        <% else %>
          <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
          <p><%= @post.favorites.count %>いいね！されている投稿です
          <%= link_to public_post_favorites_path(@post.id), method: :post do %>
          <span style="color:silver;">❤︎</span>
          <% end %></p>
        <% end %>
      <% end %><br>
      <div><% if @post.image.attached? %><%= image_tag @post.image, size: "500x400" %><% else %><p>この投稿には画像が投稿されていません。</p><% end %></div>
      <p>投稿日時：<%= @post.created_at.to_s(:datetime_jp) %></p>
      <label>この投稿の登録場所</label><br>
      <label><%= @post.address %></label>
      <!--　https://3306e9bf68454a5294b20f5c7c676ca9.vfs.cloud9.us-east-1.amazonaws.com/public/posts/8 -->
      <div id='map' class="<%= @post.address %>"></div>
      <div>
        <!--削除用記述-->
          <% if user_signed_in? %>
            <% if @post.user.id == current_user.id %>
              <%= form_with model: @post, url: public_post_path(@post.id), method: :patch do |f|%>
          　     <%= f.radio_button :is_active, :false %>この投稿を削除する
              　<%= f.submit '削除する' %>
              <% end %>
            <% end %>
          <% end %>
      </div>
      <script>
        let map;
        let geocoder;
        function initMap(){
          geocoder = new google.maps.Geocoder()
          // console.log(geocoder)
          // console.log("OK")
          geocoder.geocode({'address': $('#map').attr('class')}, function(results,status) {
            // if(status == 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
          // } else {
          //   alert('Geocode was not successful for the following reason: ' + status);
          // }
          });
          map = new google.maps.Map(document.getElementById('map'),{
            center: {lat: -35.6809591, lng: 139.7673068},
            zoom: 13
          });
        }
        function codeAddress(){
          let inputAddress = document.getElementById('address').value;
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>


    </div>
  </div>
  <div class="row">
    <div class="col">

    <h6>コメントをする</h6>
    <% if user_signed_in? %>
      <%# form_with model:[@post, @comment], method: :post do |f| %>
      <%= form_with url: public_post_comments_path(@post.id), method: :post do |f| %>
        <%= f.text_area :comment_content %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.submit 'コメントする' %>
      <% end %>
    <% else %>
    <p><strong>コメントするには<%= link_to"ログイン", new_user_session_path %>・<%= link_to "新規登録", new_user_registration_path %>が必要です。</strong></p>
    <% end %>

    <h6>コメント一覧</h6>
    <% @comments.each do |comment| %>
      <table>
        <tr>
          <th class="th-comment"><%= link_to public_user_path(comment.user.id) do %><%= comment.user.user_nickname %><% end %></th>
          <td class="td-width"><%= comment.comment_content %></td>
          <td><% if comment.user.id == current_user&.id %><%= link_to "削除する", public_post_comment_path(comment.post.id, comment.id), method: :delete %><% end %></td>
        </tr>
      </table>

    <% end %>

    </div>
  </div>
    <% else %>
      <h1>この投稿は投稿主によって削除されました。</h1>
    <% end %>
</div>

